.Fitler {
	position: relative;
  padding-bottom: 20px;
}

.Fitler-title {
  padding: 20px 20px 20px 10px;
  background: white;
  border-bottom: 1px solid gray;
  font-family: Polaris-Bold,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .08em;
}
.Filter-categories {
	list-style: none;
  margin: 0;
  padding: 10px 20px 0px 0;
}
.Filter-category {
	font-size: 13px;
  line-height: 14px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  	
}
.Filter-categoryIcon {
	position: absolute;
  top: 5px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
/* THIS IS BAD */
.Filter-category:hover .Filter-categoryIcon_0{
  background: rgb(197,225,48);
}
.Filter-category:hover .Filter-categoryIcon_1{
  background: rgb(237,199,19);
}
.Filter-category:hover .Filter-categoryIcon_2{
  background: rgb(213, 62, 79);
 
}
.Filter-category:hover .Filter-categoryIcon_3{
  background: #99d594;
}
.Filter-category:hover .Filter-categoryIcon_4{
  background: #3288bd;
}

.Filter-categoryText {
  padding-left: 30px;
  line-height: 1.6;
}
.Filter-actions {
  padding: 10px;

}
.Filter-close {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  margin-right: 20px;
}
.Filter-complete:hover{
  color: rgb(50,53,52);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.Filter-clearAll {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  color: transparent;
  display: inline-block;
 
}
.Filter-clearAll.is-active {
  color: rgb(120,120,120);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.Filter-clearAll.is-active:hover{
  color: rgb(50,53,52);
  -webkit-transition: all .3s;
  transition: all .3s;
}