.Fitler {
	position: relative;
  padding-bottom: 20px;
}

.Fitler-title {
  padding: 20px 20px 20px 10px;
  background: white;
  border-bottom: 1px solid gray;
  font-family: Polaris-Bold,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .08em;
}
.Filter-categories {
	list-style: none;
  margin: 0;
  padding: 10px 10px 0px 0;
	
}
@media screen and (min-width: 776px){
  .Filter-categories {
      padding: 10px 20px 0px 0;   
  }
}
.Filter-category {
	font-size: 13px;
  line-height: 14px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  width: 50%;
  vertical-align: top;
  display: inline-block;
}
@media screen and (min-width: 776px){
  .Filter-category {
      width: 100%; 
  }
}
@media screen and (max-width: 402px){
    .Filter-category {
        font-size: 10px !important;
    }
}
.Filter-categoryIcon {
	position: absolute;
  top: 5px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

/* THIS IS BAD */
.Filter-category:hover .Filter-categoryIcon_0{
  background: hsl(47, 100%, 50%);
}
.Filter-category:hover .Filter-categoryIcon_1{
  background: hsl(47, 100%, 70%);
}
.Filter-category:hover .Filter-categoryIcon_2{
  background: hsl(47, 100%, 40%);
}
.Filter-category:hover .Filter-categoryIcon_3{
  background: hsl(81, 100%, 40%);
}
.Filter-category:hover .Filter-categoryIcon_4{
  background: hsl(81, 100%, 70%);
}
.Filter-category:hover .Filter-categoryIcon_5{
  background: hsl(0, 100%, 40%);
}
.Filter-category:hover .Filter-categoryIcon_6{
  background: hsl(0, 100%, 70%);
}
.Filter-category:hover .Filter-categoryIcon_7{
  background: hsl(189, 100%, 50%);
}
.Filter-category:hover .Filter-categoryIcon_8{
  background: hsl(216, 100%, 50%);
}
.Filter-category:hover .Filter-categoryIcon_9{
  background: hsl(243, 100%, 50%);
}
.Filter-category:hover .Filter-categoryIcon_10{
  background: hsl(270, 100%, 50%);
}
.Filter-category:hover .Filter-categoryIcon_11{
  background: hsl(297, 100%, 50%);
}
.Filter-category:hover .Filter-categoryIcon_12{
  background: rgb(200,200,200);
}
.Filter-category:hover .Filter-categoryIcon_13{
  background: rgb(0, 0, 0);
}


.Filter-categoryText {
  padding-left: 30px;
  line-height: 1.6;

}
.Filter-actions {
  padding: 10px;

}
.Filter-close {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  margin-right: 20px;
}
.Filter-complete:hover{
  color: rgb(50,53,52);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.Filter-clearAll {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  color: transparent;
  display: inline-block;

}
.Filter-clearAll.is-active {
  color: rgb(120,120,120);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.Filter-clearAll.is-active:hover{
  color: rgb(50,53,52);
  -webkit-transition: all .3s;
  transition: all .3s;
}
