.Fitler {
	position: relative;
}
.Fitler-title {
  padding: 20px 20px 20px 0;
  background: white;
  border-bottom: 1px solid gray;
  
}
ul.Filter-categories {
	list-style: none;
  margin: 0;
  padding: 10px 20px 10px 0;
}
li.Filter-category {
	font-size: 13px;
  line-height: 14px;
  background: lightgray;
  margin-bottom: 10px;
  	
}
li.Filter-category:before {
	content: '';
  -webkit-transition: background .3s;
  transition: background .3s;
  display: inline-block;
  left: 1px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-right: 10px;
  border-radius: 2px;
  background: 0 0;
  border: 1px solid #d03f58;
}