.Schedule {
	width: 100%;
	
	position: relative;
	background: white;
	border-left: 1px solid gray;
    border-right: 1px solid gray;
    
}
.Schedule-title {
    padding: 20px;
    background: white;
    border-bottom: 1px solid gray;
    width: 100%;
}

.Schedule-title.is-fixed.without-session {
    left: 362px;
    position: fixed;
    top: 0;
    max-width: 548px;

    -webkit-transition: left .2s cubic-bezier(.4,0,.2,1); 
    transition: left .2s cubic-bezier(.4,0,.2,1); 
}
.Schedule-title.is-fixed.with-session {
    left: 162px;
    position: fixed;
    top: 0;
    max-width: 548px;

    -webkit-transition: left .2s cubic-bezier(.4,0,.2,1); 
    transition: left .2s cubic-bezier(.4,0,.2,1); 
}
/*@media screen and (min-width: 600px){
	.Schedule-title.is-fixed {
		width: 600px;
    }
}*/
.Schedule-item {
	padding: 30px;
	cursor: pointer;
	background: white;
}
.Schedule-item.has-top-border {
	border-top: 1px solid rgb(220,220,220);
}