.AppBar {
	/*background: rgb(250,250,250);*/
	/*background: rgb(53,55,54);*/
	/*box-shadow: 0px 1px 0 0 rgba(0,0,0,0.12);*/
	width: 100%;
	height: 52px;
}
.AppBar-wrap {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}
.AppBar-logo {
	position: absolute;
	left: 0;
	top: 10px;
	cursor: pointer;
}
.AppBar-items {
	text-align: right;
}
.AppBar-item {
	display: inline-block;
	padding: 10px 2px 7px 2px;
	font-size: 14px;
	margin: 10px 8px;
	text-align: center;
	color: rgb(80,80,80);
	cursor: pointer;
	text-decoration: none;
}
@media screen and (min-width: 776px){
	.AppBar-item {
		padding: 10px 6px 7px 6px;
	}

}
.AppBar-item.is-active, .AppBar-item:hover {
	border-bottom: 2px solid rgb(100,100,100);
}